<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx 
	 					http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop 
     					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	">
	
	
	<!-- **************************ACTION******************************************** -->
	<bean id="zs_test" class="com.zs.action.TestAction">
	</bean>	
	<!-- **************************硬件组******************************************** -->
	<bean id="zs_section_yjz" class="com.zs.action.yjz.SectionAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	
	<bean id="zs_index" class="com.zs.action.IndexAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	
	<bean id="zs_csection_yjz" class="com.zs.action.yjz.CSectionAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	
	<bean id="zs_fbd_asdl_yjz" class="com.zs.action.yjz.FbdAsdlAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	
	<bean id="zs_fbd_m_yjz" class="com.zs.action.yjz.FbdMAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_fbd_c_yjz" class="com.zs.action.yjz.FbdComputerAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	  
	<bean id="zs_fbd_ll_yjz" class="com.zs.action.yjz.FbdListLinkAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	  
	<bean id="zs_fbd_sim_yjz" class="com.zs.action.yjz.SIMAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	 
	<bean id="zs_fbd_goods_yjz" class="com.zs.action.yjz.GoodsAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>	
	<bean id="zs_fbd_go_yjz" class="com.zs.action.yjz.GoOutAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_out_register" class="com.zs.action.yjz.OutRegisterAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- **************************系统组******************************************** -->
	<bean id="zs_site_xtz" class="com.zs.action.xtz.SiteAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="siteSer" ref="zs_ser_xtz_site"></property>
	</bean>
	<bean id="zs_b_xtz" class="com.zs.action.xtz.BranchesAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="branchesSer" ref="zs_ser_xtz_branches"></property>
	</bean>
	<bean id="zs_zmn_xtz" class="com.zs.action.xtz.ZmNumberAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="xtZmNumberSer" ref="zs_ser_xtz_zm_number"></property>
	</bean>
	<bean id="zs_zmd_xtz" class="com.zs.action.xtz.ZmDataAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="xtZmDataSer" ref="zs_ser_xtz_zm_data"></property>
	</bean>
	<bean id="hgh_pda_change_xtz" class="com.zs.action.xtz.PdaChangeAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="pdaChangeSer" ref="zs_ser_xtz_pda_change"></property>
	</bean>
	<bean id="hgh_bq_repair_xtz" class="com.zs.action.xtz.BqRepairAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="bqRepairSer" ref="zs_ser_xtz_bq_repair"></property>
	</bean>
	<bean id="hgh_pda_loss_xtz" class="com.zs.action.xtz.PdaLossAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="pdaLossSer" ref="zs_ser_xtz_pda_loss"></property>
	</bean>
	<bean id="zs_hitches_xtz" class="com.zs.action.xtz.HitchesAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_xtz_hitches"></property>
	</bean>
	<bean id="hgh_count_hitches" class="com.zs.action.xtz.count.HitchesCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_project_xtz" class="com.zs.action.xtz.ProjectAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="proSer" ref="zs_ser_xtz_project"></property>
	</bean>
	
	<!-- **************************桌面组******************************************** -->
	<bean id="zs_vpn_zmz" class="com.zs.action.zmz.VpnAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="vpnSer" ref="zs_ser_zmz_vpn"></property>
	</bean>
	<bean id="zs_ser_xtz_zm_data" class="com.zs.service.impl.XtZmDataServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_by_zmz" class="com.zs.action.zmz.ByAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="bySer" ref="zs_ser_zmz_by"></property>
	</bean>
	<bean id="zs_bq_zmz" class="com.zs.action.zmz.BqAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_bq"></property>
	</bean>
	<bean id="zs_wifi_zmz" class="com.zs.action.zmz.WifiAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_wifi"></property>
	</bean>
	<bean id="zs_phone_zmz" class="com.zs.action.zmz.PhoneAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_phone"></property>
	</bean>
	<bean id="zs_oa_zmz" class="com.zs.action.zmz.OaAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_oa"></property>
	</bean>
	<bean id="zs_print_zmz" class="com.zs.action.zmz.PrintAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_print"></property>
	</bean>
	<bean id="zs_computer_zmz" class="com.zs.action.zmz.ComputerAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_computer"></property>
	</bean>
	<bean id="hgh_call_zmz" class="com.zs.action.zmz.CallAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_zmz_call"></property>
	</bean>
	<!-- *****************维护组****************** -->
	<bean id="zs_device_whz" class="com.zs.action.whz.DeviceAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_device"></property>
	</bean>
	<bean id="zs_monitor_whz" class="com.zs.action.whz.MonitorAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_monitor"></property>
	</bean>
	<bean id="zs_massage_whz" class="com.zs.action.whz.MassageAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_massage"></property>
		<property name="tlSer" ref="zs_ser_whz_timeliness"></property>
	</bean>
	<bean id="zs_expree_list_whz" class="com.zs.action.whz.ExpListAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_bq_draw_whz" class="com.zs.action.whz.BqDrawAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_three_meeting_whz" class="com.zs.action.whz.ThreeMeetAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_three_meeting"></property>
	</bean>
	<bean id="zs_meeting_whz" class="com.zs.action.whz.MeetAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_meet"></property>
	</bean>
	<bean id="zs_out_whz" class="com.zs.action.whz.OutAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_out"></property>
	</bean>
	<bean id="zs_all_date_whz" class="com.zs.action.whz.AllDateAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="importSer" ref="zs_ser_whz_all_date"></property>
	</bean>
	
	
	<!-- *****************数据分析************************  -->
	<!--系统组	-->
	<bean id="hgh_count_site" class="com.zs.action.xtz.count.SiteCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_branches" class="com.zs.action.xtz.count.BranchesAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_count_zmnumber" class="com.zs.action.xtz.count.ZmNumberCountAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="xtZmNumberSer" ref="zs_ser_xtz_zm_number"></property>
	</bean>
	<bean id="zs_count_zmdata" class="com.zs.action.xtz.count.ZmDataCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_pda_change" class="com.zs.action.xtz.count.PdaChangeCountAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="iser" ref="hgh_ser_xtz_pda_change"></property>
	</bean>
	<bean id="hgh_count_bq_repair" class="com.zs.action.xtz.count.BqRepairCountAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="iser" ref="hgh_ser_xtz_bq_repair"></property>
	</bean>
	<bean id="zs_count_project" class="com.zs.action.xtz.count.ProjectCountAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="proSer" ref="zs_ser_xtz_project"></property>
	</bean>
	
	
	<!--桌面组	-->
	<bean id="zs_count_vpn" class="com.zs.action.zmz.count.VpnCountAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="vpnSer" ref="zs_ser_zmz_vpn"></property>
	</bean>
	<bean id="hgh_count_oa" class="com.zs.action.zmz.count.OaCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_count_bynum" class="com.zs.action.zmz.count.ByNumCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_print" class="com.zs.action.zmz.count.PrintCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_computer" class="com.zs.action.zmz.count.ComputerCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_call" class="com.zs.action.zmz.count.CallCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!--维护组-->
	<bean id="hgh_count_device" class="com.zs.action.whz.count.DeviceScoutCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_monitor" class="com.zs.action.whz.count.MonitorCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_three_meeting" class="com.zs.action.whz.count.ThreeMeetingCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_meeting" class="com.zs.action.whz.count.MeetingCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_massage" class="com.zs.action.whz.count.MassageReceiveAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="hgh_count_out_repair" class="com.zs.action.whz.count.OutRepairCoutAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	
	
	
	<!-- *****************故障报修处理跟进系统************************ -->
	<bean id="zs_manager_da" class="com.zs.action.da.DaManagerAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_handle_da" class="com.zs.action.da.DaHandleAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_count_da" class="com.zs.action.da.DaCountAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_count_zy_da" class="com.zs.action.da.DaCountZyAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_auditing_da" class="com.zs.action.da.DaAuditingAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- *****************cs******************* -->
	<bean id="zs_cs" class="com.zs.action.section.CompanySectionAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- ****************login****************** -->
	<bean id="zs_login_xtz" class="com.zs.action.LoginAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- *************system**************** -->
	<bean id="zs_users" class="com.zs.action.system.UsersAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_role" class="com.zs.action.system.RoleAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- ***************个人中心********************** -->
	<bean id="zs_timeline" class="com.zs.action.oneself.TimelineAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_information" class="com.zs.action.oneself.InformationAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_job_log" class="com.zs.action.oneself.JobLogAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- **************拦截器************* -->
	<bean id="zs_interceptor_role" class="com.zs.interceptor.RoleInterceptor">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_timeline" class="com.zs.interceptor.TimelineInterceptor">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_cache" class="com.zs.interceptor.CacheInterceptor">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	
	
	<!-- ***************Service********************** -->
	<bean id="zs_dao" class="com.zs.dao.BaseDaoOfSpring">
		<property name="ht" ref="hibtemp"></property>
	</bean>	
	<bean id="zs_ser" class="com.zs.service.BaseService">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_xtz_zm_number" class="com.zs.service.impl.XtZmNumberServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_zmz_vpn" class="com.zs.service.impl.VpnServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_xtz_site" class="com.zs.service.impl.SiteServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_xtz_branches" class="com.zs.service.impl.BranchesServcieImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="hgh_ser_xtz_bq_repair" class="com.zs.service.impl.XtBqRepairCountServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="hgh_ser_xtz_pda_change" class="com.zs.service.impl.XtPdaChangeCountServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_xtz_bq_repair" class="com.zs.service.impl.XtBqRepairServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_xtz_pda_change" class="com.zs.service.impl.XtPdaChangeServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_xtz_pda_loss" class="com.zs.service.impl.XtPdaLossServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_zmz_by" class="com.zs.service.impl.ZmByServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_ser_zmz_oa" class="com.zs.service.impl.ZmOaServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_zmz_print" class="com.zs.service.impl.ZmPrintServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_zmz_computer" class="com.zs.service.impl.ZmComputerServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_zmz_bq" class="com.zs.service.impl.ZmBqServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_zmz_wifi" class="com.zs.service.impl.ZmWifiServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_zmz_phone" class="com.zs.service.impl.ZmPhoneServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_zmz_call" class="com.zs.service.impl.ZmCallServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_device" class="com.zs.service.impl.WhDeviceServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_monitor" class="com.zs.service.impl.WhMassageServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_massage" class="com.zs.service.impl.WhMassageServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_xtz_hitches" class="com.zs.service.impl.XtHitchesServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_express_list" class="com.zs.service.impl.WhExpListServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_timeliness" class="com.zs.service.impl.WhTimelineServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_three_meeting" class="com.zs.service.impl.WhThreeMeetServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_meet" class="com.zs.service.impl.WhMeetServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_out" class="com.zs.service.impl.WhOutServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_whz_all_date" class="com.zs.service.impl.WhAllDateServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_ser_xtz_project" class="com.zs.service.impl.XtProjectCountServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	
	<!-- ******************工具******************* -->
	<bean id="zs_trans_id" class="com.zs.tools.TransIdAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	
	<!-- ************************************* -->
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="hibtemp" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--创建事务管理器  -->	 
	<bean id="transmanager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置事务属性 -->
	<tx:advice id="txadvice" transaction-manager="transmanager">
		<tx:attributes>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 添加事务 -->
	<aop:config>
	<aop:pointcut expression="execution(* com.zs.dao.*.*(..))" id="dao"/>
	<aop:advisor advice-ref="txadvice" pointcut-ref="dao"/>
	</aop:config>
</beans>